doctype html
html
  head
    title Report Graph Visualizer
    script(src='/cytoscape/dist/cytoscape.min.js')
    script(src='/axios/dist/axios.min.js')
    script(src='/main.js')
  body
    div(id='root') Root
