doctype html
html
  head
    title Report Graph Visualizer
    script(src='/cytoscape/dist/cytoscape.min.js')
    script(src='/axios/dist/axios.min.js')
    link(href='/styles.css', rel='stylesheet')
  body
    div(id='root')

    script(src='/main.js')
